{% extends '_base-accounts-users.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock %}

{% block content %}

<div class="conatiner login">

  <div class="row login">
    <div class="col-sm-6 offset-sm-3 login">
      
      <img class="subpage" src="{% static "images/LogoFiles/Vector/SVG/withBackground.svg" %}" alt="">
      <h2 class="subpage">Sign up for DoGoodDeed</h2>
      
      <form method="post"
        onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy'); return false; }">
        {% csrf_token %}
        {{ form|crispy }}

        <div class=" justify-content-center text-center">
          <button class="btn btn-secondary btn-block rounded-0" type="submit">Sign up</button>
        </div>
      </form>

      <p class="subpage">OR</p>
      
      <div class="svg d-flex justify-content-center">
        <a href="{% url 'social:begin' 'google-oauth2' %}">
          <img class="subimg" src="{% static "images/009-suche.svg" %}" max-width="70" height="70">
        </a>
        <a href="{% url 'social:begin' 'linkedin-oauth2' %}">
          <img class="subimg" src="{% static "images/007-linkedin.svg" %}" max-width="70" height="70">
        </a>
      </div>

      <p class="subpage"><input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the
        <a href="{% url 'terms' %}" target="_blank">Terms and Conditions</a> and <a href="{% url 'privacy' %}"
          target="_blank">Privacy Policy</a>
      </p>
    
    </div>
  </div>
</div>

</div>

  <script type="text/javascript">
    $('#agree').change(function(){
  
  // jquery shorthand conditioning statement. If true use link1 if not use link2.
  var c = this.checked ? "{% url 'social:begin' 'google-oauth2' %}" : "{% url 'account_signup' %}";
  console.log('hier')
  var c2 = this.checked ? "{% url 'social:begin' 'linkedin-oauth2' %}" : "{% url 'account_signup' %}";
  console.log('hier')

    // change the href attribute for the element ID = download to the value stored in 'c'.
    $('#google').attr("href", c);
    $('#linkedin').attr("href", c);
  });
</script>


{% endblock content %}