appdirs==1.4.3
asgiref==3.2.3
blinker==1.4
bottle==0.12.18
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
defusedxml==0.6.0
distlib==0.3.0
Django==2.1.15
django-allauth==0.41.0
django-autocomplete-light==3.5.1
django-classy-tags==1.0.0
django-cms==3.7.1
django-crispy-forms==1.8.1
django-debug-toolbar==2.2
django-filer==1.7.0
django-formtools==2.2
django-google-maps==0.12.1
django-ipware==2.1.0
django-js-asset==1.2.2
django-leaflet==0.26.0
django-mptt==0.11.0
django-polymorphic==2.1.2
django-pyodbc-azure==2.1.0.0
django-sekizai==1.1.0
django-sslserver==0.22
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-googlemap==1.4.0
easy-thumbnails==2.7
filelock==3.0.12
geographiclib==1.50
geopy==1.21.0
idna==2.9
numpy==1.18.1
oauthlib==3.0.1
pandas==1.0.2
Pillow==9.0.1
pipenv==2018.11.26
pycparser==2.19
PyJWT==1.7.1
PyMySQL==0.9.3
pyodbc==4.0.30
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2019.3
requests==2.23.0
requests-oauthlib==1.2.0
six==1.14.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
Unidecode==1.1.1
urllib3==1.25.7
virtualenv==20.0.10
virtualenv-clone==0.5.3
win-inet-pton==1.1.0
wincertstore==0.2
