{% load static %}

<!-- Start Contact Section -->

<div class="container-fluid footer mb-2">
    <hr>
    <div class="container d-flex justify-content-between"> 
        <div>
        Copyright &copy; 2020 dogooddeed.com All rights reserved.
        </div>
        <div>
            <a class="right" href="{% url 'imprint' %}">Imprint</a>
            <a class="right" href="{% url 'privacy' %}">Privacy Policy</a>
            <a class="right" href="{% url 'cookie_policy' %}">Cookie Policy</a>
            <a class="right" href="{% url 'terms' %}">Terms&Conditions</a>
        </div>  
    </div> <!-- End Container -->
</div> <!-- End Container Fluid -->
		

<!-- End Contact Section -->