{% load static %}
{% load i18n %}
<!-- Start Contact Section -->

<div class="container-fluid footer mb-2">
    <hr>
    <div class="container d-flex justify-content-between"> 
        <div>
        Copyright &copy; 2020 dogooddeed.com All rights reserved.
        </div>
            <a class="right" href="{% url 'contact' %}">{% trans "Contact Us" %}</a>
            <a class="right" href="{% url 'imprint' %}">{% trans "Imprint" %}</a>
            <a class="right" href="{% url 'privacy' %}">{% trans "Privacy Policy" %}</a>
            <a class="right" href="{% url 'cookie_policy' %}">{% trans "Cookie Policy" %}</a>
            <a class="right" href="{% url 'terms' %}">{% trans "Terms&Conditions" %}</a>
            
        </div>  
    </div> <!-- End Container -->
</div> <!-- End Container Fluid -->
		

<!-- End Contact Section -->