{% extends '_base.html' %}

{% load static %}
{% load i18n %}
{% block content %}


<!-- Start Home Section -->
<div id="home">
 
    <!-- Start Caption -->   
    <div class="caption">

        <!--- Start Fixed Background IMG -->
        <div class="fixed-background">
            <div class="row fixed-overlay text-light py-5">

                <!---Start Animation -->
                <div class="container my-5">
                    <div class="row">
                        <div class="col-md-8 col-lg-6 col-xl-6 bg-clear">
                            <h1 class="text-hero">{% trans "stick together" %}</h1>
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-6 bg-clear">
                            <h3 class="heading">{% trans "Getting and providing help" %}
                                {% trans "during global Covid-19 crisis" %} ? {% trans "That is possible." %}
                                {% trans "Just search for your city and get in touch with your neighbor." %}
                            </h3>
                        </div>
                    </div>
                </div>
                <!--- End Animation -->

            </div>
            <!--- End Row Home Fixed -->

            <div class="fixed-wrap">
                <div id="fixed">
                </div>
            </div>

        </div>
        <!--- End Fixed Background IMG Dark -->
  
        <!-- Start Explaination Section -->
        <!-- <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid ">
                <h1 class="display-3 text-hero">{% trans "stick together" %}</h1>
                <h3 class="lead">{% trans "Getting and providing help" %}  
                    {% trans "during global Covid-19 crisis" %} ? {% trans "That is possible." %} 
                    <br>{% trans "Just search for your city and get in touch with your neighbor." %}</h3>
            </div>       
        </div> -->
        <div class="container-fluid bg-yel">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-9 col-lg-12 col-xl-11">
                        <div class="row icons">
                            <div class="col-md-6 col-lg-3">
                                <a href="{% url 'account_signup' %}">
                                <img src="{% static 'images/005-laptop.svg' %}" alt="">
                                <p class="text-uppercase font-weight-bold py-1">{% trans "Sign up" %}</p>
                                <p class="card-text">{% trans "Sign up and fill out your profile." %}
                                    {% trans "Filling out the profile is unfortunately essential otherwise you'll be not able to use our offer." %}</p></a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <img src="{% static 'images/platzhalter.svg' %}" alt="">
                                <p class="text-uppercase font-weight-bold py-1">{% trans "Check out" %}</p>
                                <p class="card-text">{% trans "Enter your city or postal code and see if any of your neighbors need help or offer help." %}</p>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <img src="{% static 'images/010-plaudern.svg' %}" alt="">
                                <p class="text-uppercase font-weight-bold py-1">Chat</p>
                                <p class="card-text">{% trans "Start a conversation via email with each other. Exchange information, e.g. email, shopping list or similar." %}</p>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <img src="{% static 'images/lebensmittelgeschaeft.svg' %}" alt="">
                                <p class="text-uppercase font-weight-bold py-1">Goal</p>
                                <p class="card-text">
                                    {% trans "Target reached. You helped a neighbor and made a friend for better times." %}
                                </p>
                            </div>
                        </div> <!-- End Row -->
                    </div> <!-- End Column -->
                </div> <!-- End Row Justify Content -->
                </div>
                <!-- Start Bouncing Down Arrow -->
                <a href="#search" class="down-arrow text-center">
                    <div class="arrow d-none d-md-block">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <!-- End Bouncing Down Arrow -->
            </div>
        </div> <!-- End Container -->
    </div>
    <!-- End Caption -->
    
</div>
<!-- End Home Section -->

<!-- Start Search Map Section -->
<div id="search" class="offset">
    <div class="search justify-content-center text-center">
        <div class="container">   
            <h3 class="heading">{% trans "Enter City or Zip Code" %}</h3>
            <div class="heading-underline"></div>
            <div class="mt-4">
                <!-- Start Input Group -->
                <div class="input-group d-flex justify-content-center">
                    <form class="form" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="search-field" placeholder="Zip Code / City" aria-label="Zip Code / City" aria-describedby="button-addon2" name="search-field">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-color type="submit" id="search_button"><i
                                        class="fas fa-search"></i>{% trans "Search" %}</button>
                                {% if gotodiv %}
                                <script> window.location.hash = '#{{gotodiv}}'; </script>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Input Group -->

                <!-- Start Map -->
                <div class="container">
                    {% include 'pages/map.html' %}
                </div>
                <!-- End Map -->

                <!-- Data Table -->
                <div class="container">
                    <table id="table" class="display  table" style="width:100%">
                        <thead>
                        <tr>
                            <th>{% trans "Result" %}</th>
                            <th>{% trans "Slogan" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th>{% trans "Contact" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in template_table %}
                            <tr>
                                <td>{{ item.0 }}</td>
                                <td>{{ item.2 }}</td>
                                <td>{{ item.3 }}</td>
                                <td>{% if user.is_authenticated %}
                                    <button type="button" class="btn btn-outline-primary"
                                        onclick="location.href='http://127.0.0.1:8000/mailme/{{item.1 }}'"><i
                                            class="far fa-envelope"></i>
                                    </button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody> 
                    </table>
                </div>
                <!-- End Data Table -->
            </div>
            
        </div>
        <!-- End Container -->
        
    </div>
</div>
<!-- End Search Result Section -->


<!-- Start Team Section -->

<div id="team" class="offset">
    <div class="team">
        <hr>

        <h3 class="heading">{% trans "Our Team" %}</h3>
        <div class="heading-underline"></div>
        <div class="row py-12">
            

            <div class="col-12 px-xl-5">
                <div id="team-carousel" class="owl-carousel owl-theme">

                    <div class="row team px-3 px-md-4">
                        <div class="col-lg-2 my-auto">
                            <img src="{% static 'images/bert.png' %}" alt="">
                        </div>
                        <div class="col-lg-8">
                            <blockquote class="text-justify">
                                <i class="fas fa-quote-left"></i>
                                {% trans "I am a Data Scientist and want to develop tools that make a difference and improve our lifes." %}
                                <hr class="clients-hr">
                                <cite>&#8212; {% trans "Bert, Developer (Hamburg, Germany)" %}</cite>
                            </blockquote>
                        </div>
                    </div>

                    <div class="row team px-3 px-md-4">
                        <div class="col-lg-2 my-auto">
                            <img src="{% static 'images/Gunnar.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-8">
                            <blockquote class="text-justify">
                                <i class="fas fa-quote-left"></i>
                                {% trans "I am interested in programming because I want to automate the boring stuff and of course do good deed." %}
                                <hr class="clients-hr">
                                <cite>&#8212; {% trans "Gunnar,  Aspiring Developer (Hamburg, Germany)" %}</cite>
                            </blockquote>
                        </div>
                    </div>

                    <div class="row team px-3 px-md-4">
                        <div class="col-lg-2 my-auto">
                            <img src="{% static 'images/Vinay.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-8">
                            <blockquote class="text-justify">
                                <i class="fas fa-quote-left"></i>
                                {% trans "I am Engineer working in power industry, analyzing machines. Want to utilize technology for the betterment of society." %}
                                <hr class="clients-hr">
                                <cite>&#8212; {% trans "Vinay, Technologist (Bengaluru, India)" %}</cite>
                            </blockquote>
                        </div>
                    </div>

                </div> <!-- End Carousel -->
            </div> <!-- End Column -->

        </div> <!-- End Row -->
        <hr>
    </div>
</div>
<!-- End of Clients Section -->


<!-- Start Portfolio Section -->
<!-- <div id="people" class="offset">

    <div class="container-fluid px-0">
        <div class="row justify-content-center py-5">

            <div class="col-12 mt-5">
                <h3 class="heading">People who make this project happen</h3>
                <div class="heading-underline"></div>
            </div>

            <div class="col-sm-6 col-md-3 p-0">
                <div class="portfolio-item overflow-hidden">
                    <a href="https://via.placeholder.com/705x705" data-lightbox="example-set"
                        data-title="My Portfolio Image Description">
                        <img src="https://via.placeholder.com/705x705" alt="" class="example-image w-100">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 p-0">
                <div class="portfolio-item overflow-hidden">
                    <a href="https://via.placeholder.com/705x705" data-lightbox="example-set"
                        data-title="My Portfolio Image Description">
                        <img src="https://via.placeholder.com/705x705" alt="" class="example-image w-100">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 p-0">
                <div class="portfolio-item overflow-hidden">
                    <a href="https://via.placeholder.com/705x705" data-lightbox="example-set"
                        data-title="My Portfolio Image Description">
                        <img src="https://via.placeholder.com/705x705" alt="" class="example-image w-100">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 p-0">
                <div class="portfolio-item overflow-hidden">
                    <a href="https://via.placeholder.com/705x705" data-lightbox="example-set"
                        data-title="My Portfolio Image Description">
                        <img src="https://via.placeholder.com/705x705" alt="" class="example-image w-100">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 p-0">
                <div class="portfolio-item overflow-hidden">
                    <a href="https://via.placeholder.com/705x705" data-lightbox="example-set"
                        data-title="My Portfolio Image Description">
                        <img src="https://via.placeholder.com/705x705" alt="" class="example-image w-100">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 p-0">
                <div class="portfolio-item overflow-hidden">
                    <a href="https://via.placeholder.com/705x705" data-lightbox="example-set"
                        data-title="My Portfolio Image Description">
                        <img src="https://via.placeholder.com/705x705" alt="" class="example-image w-100">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 p-0">
                <div class="portfolio-item overflow-hidden">
                    <a href="https://via.placeholder.com/705x705" data-lightbox="example-set"
                        data-title="My Portfolio Image Description">
                        <img src="https://via.placeholder.com/705x705" alt="" class="example-image w-100">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 p-0">
                <div class="portfolio-item overflow-hidden">
                    <a href="https://via.placeholder.com/705x705" data-lightbox="example-set"
                        data-title="My Portfolio Image Description">
                        <img src="https://via.placeholder.com/705x705" alt="" class="example-image w-100">
                    </a>
                </div>
            </div>

        </div> 
    </div> 

</div> -->
    <!-- End of Portfolio Section -->

<!-- Top Scroll -->
<a href="#home" class="top-scroll">
    <i class="fa fa-angle-up"></i>
</a>
<!-- End of Top Scroll -->


{% include 'pages/footer.html' %}

{% endblock content %}