{% extends '_base.html' %}

{% load static %}


{% block content %}



<!-- Start Home Section -->
<div id="home">

    <!-- Start Landing Page Image -->
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner"></div>
        </div>
    </div>
    <!-- End Landing Page Image -->

    <!-- Start Landing Page Caption -->
    <div class="caption text-center text-light text-uppercase">
        <div class="mx-auto">
            <h1 class="os-animation" data-animation="fadeInUp" data-delay=".6s"><span class="text-hero">Together against
                    the virus</span></h1>
            <!-- <h3 class="os-animation" data-animation="fadeInUp" data-delay="0.8s">Du bietest Hilfe oder suchst hilfe, suche in deiner direkten Umgebung</h3> -->
        </div>
        <div class="input-group d-flex justify-content-center">
            <form class="form" method="post">
                {% csrf_token %}
                <input type="text" class="btn btn-outline-light btn-lg rounded-0 os-animation" name="search-field"
                    id="search-field" placeholder="Zip Code / City" title="search for postleitzahl"
                    data-animation="fadeInUp" data-delay="1s">
                <span class="input-group-btn">
                    <button class="btn btn-lg btn-success" type="submit" id="search_button"><i class="fas fa-search"></i> Search</button>

                    <!-- <a href="#search" class="btn btn-outline-light btn-lg rounded-0 os-animation"
                        data-animation="fadeInUp" data-delay="1s">Search</a> -->

                </span>
            </form>
        </div>
        <div class="jumbotron jumbotron-fluid mt-4">
            <div class="container">
                <h1 class="display-5">Information Section</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
                </p>
            </div>
        </div>
    </div>
    <!-- End Landing Page Caption -->

    <!-- Start Bouncing Down Arrow -->
    <a href="#search" class="down-arrow text-center">
        <div class="arrow d-none d-md-block">
            <i class="fas fa-angle-down"></i>
        </div>
    </a>
    <!-- End Bouncing Down Arrow -->

</div>
<!-- End Home Section -->


<!-- Search Result Section -->
<div id="search" class="offset">

    <div class=" container mx-auto mt-4">
        <!-- <div class="os-animation" data-animation="fadeInUp"> -->
        <div id="seller-carousel" class="owl-carousel owl-theme">

            <div class="seller card" style="width: 16rem;">

                <div class="card-body">
                    <svg class="card-img-top rounded-0" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </svg>
                    <div class="card-body">
                        <h4 class="font-weight-bold">John Lee</h4>
                        <h5 class="text-seller">CEO</h5>
                        <p class="py-auto my-auto">John is an entrepreneur with almost 20 years of experience.</p>
                    </div>
                </div>

            </div> <!-- End Card -->

            <div class="seller card" style="width: 16rem;">

                <div class="card-body">
                    <svg class="card-img-top rounded-0" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </svg>
                    <div class="card-body">
                        <h4 class="font-weight-bold">John Lee</h4>
                        <h5 class="text-seller">CEO</h5>
                        <p class="py-auto my-auto">Peter is an entrepreneur with almost 20 years of experience.</p>
                    </div>
                </div>

            </div> <!-- End Card -->

            <div class="seller card" style="width: 16rem;">

                <div class="card-body">
                    <svg class="card-img-top rounded-0" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </svg>
                    <div class="card-body">
                        <h4 class="font-weight-bold">John Lee</h4>
                        <h5 class="text-seller">CEO</h5>
                        <p class="py-auto my-auto">John is an entrepreneur with almost 20 years of experience.</p>
                    </div>
                </div>

            </div> <!-- End Card -->

            <div class="seller card" style="width: 16rem;">

                <div class="card-body">
                    <svg class="card-img-top rounded-0" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </svg>
                    <div class="card-body">
                        <h4 class="font-weight-bold">John Lee</h4>
                        <h5 class="text-seller">CEO</h5>
                        <p class="py-auto my-auto">John is an entrepreneur with almost 20 years of experience.</p>
                    </div>
                </div>

            </div> <!-- End Card -->

        </div> <!-- End Team Carousel -->
        <!-- </div> End Animation  -->

        <!-- <div class="google-map container mt-4">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.google.com/maps/embed/v1/search?q=Apotheken%2C%20Krankenh%C3%A4user%2C%20Superm%C3%A4rkte%20near%20me&key=AIzaSyC-WZL8RFieD7YVvqk3lJjAPcWhpI8C0vs"></iframe>
        </div> End Container -->

        <div class="map container mt-4 mb-4">
            {% include 'pages/map.html' %}
        </div>
        

    </div>

    


    <!-- End Search Result Section -->

    {% include 'pages/footer.html' %}

    {% endblock content %}