{% extends '_base.html' %}

{% load static %}


{% block content %}



<!-- Start Home Section -->
<div id="home">

    <!-- Start Landing Page Image -->
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner"></div>
        </div>
    </div>
    <!-- End Landing Page Image -->

    <!-- Start Landing Page Caption -->
    <div class="caption text-center text-light text-uppercase">
        <div class="mx-auto">
            <h1 class="os-animation" data-animation="fadeInUp" data-delay=".6s"><span class="text-hero">Together against
                    the virus</span></h1>
            <!-- <h3 class="os-animation" data-animation="fadeInUp" data-delay="0.8s">Du bietest Hilfe oder suchst hilfe, suche in deiner direkten Umgebung</h3> -->
        </div>
        <div class="input-group d-flex justify-content-center">
            <input type="text" class="btn btn-outline-light btn-lg rounded-0 os-animation" name="search-field"
                id="search-field" placeholder="Zip Code / City" title="search for postleitzahl"
                data-animation="fadeInUp" data-delay="1s">
            <span class="input-group-btn">
                <a href="#search" class="btn btn-outline-light btn-lg rounded-0 os-animation" data-animation="fadeInUp"
                    data-delay="1s">Search</a>
            </span>
        </div>
        <div class="jumbotron jumbotron-fluid mt-4">
            <div class="container">
                <h1 class="display-5">Information Section</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
                </p>
            </div>
        </div>
    </div>
    <!-- End Landing Page Caption -->

    <!-- Start Bouncing Down Arrow -->
    <a href="#search" class="down-arrow text-center">
        <div class="arrow d-none d-md-block">
            <i class="fas fa-angle-down"></i>
        </div>
    </a>
    <!-- End Bouncing Down Arrow -->

</div>
<!-- End Home Section -->


<!-- Search Result Section -->
<div id="search" class="offset">

    <div class=" container mx-auto mt-4">
        <!-- <div class="os-animation" data-animation="fadeInUp"> -->
        <div id="seller-carousel" class="owl-carousel owl-theme">

            <div class="seller card" style="width: 16rem;">

                <div class="card-body">
                    <svg class="card-img-top rounded-0" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </svg>
                    <div class="card-body">
                        <h4 class="font-weight-bold">John Lee</h4>
                        <h5 class="text-seller">CEO</h5>
                        <p class="py-auto my-auto">John is an entrepreneur with almost 20 years of experience.</p>
                    </div>
                </div>

            </div> <!-- End Card -->

            <div class="seller card" style="width: 16rem;">

                <div class="card-body">
                    <svg class="card-img-top rounded-0" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </svg>
                    <div class="card-body">
                        <h4 class="font-weight-bold">John Lee</h4>
                        <h5 class="text-seller">CEO</h5>
                        <p class="py-auto my-auto">Peter is an entrepreneur with almost 20 years of experience.</p>
                    </div>
                </div>

            </div> <!-- End Card -->

            <div class="seller card" style="width: 16rem;">

                <div class="card-body">
                    <svg class="card-img-top rounded-0" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </svg>
                    <div class="card-body">
                        <h4 class="font-weight-bold">John Lee</h4>
                        <h5 class="text-seller">CEO</h5>
                        <p class="py-auto my-auto">John is an entrepreneur with almost 20 years of experience.</p>
                    </div>
                </div>

            </div> <!-- End Card -->

            <div class="seller card" style="width: 16rem;">

                <div class="card-body">
                    <svg class="card-img-top rounded-0" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </svg>
                    <div class="card-body">
                        <h4 class="font-weight-bold">John Lee</h4>
                        <h5 class="text-seller">CEO</h5>
                        <p class="py-auto my-auto">John is an entrepreneur with almost 20 years of experience.</p>
                    </div>
                </div>

            </div> <!-- End Card -->

        </div> <!-- End Team Carousel -->
        <!-- </div> End Animation  -->

        <!-- <div class="google-map container mt-4">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.google.com/maps/embed/v1/search?q=Apotheken%2C%20Krankenh%C3%A4user%2C%20Superm%C3%A4rkte%20near%20me&key=AIzaSyC-WZL8RFieD7YVvqk3lJjAPcWhpI8C0vs"></iframe>
        </div><!-- End Container --> -->

        
        <div id="map"></div>
        <div id="legend">
            <h3>Legend</h3>
        </div>
        <script>
            var map;
            function initMap() {
              map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: new google.maps.LatLng(-33.91722, 151.23064),
                mapTypeId: 'roadmap'
              });
      
              var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
              var icons = {
                parking: {
                  name: 'Parking',
                  icon: iconBase + 'parking_lot_maps.png'
                },
                library: {
                  name: 'Library',
                  icon: iconBase + 'library_maps.png'
                },
                info: {
                  name: 'Info',
                  icon: iconBase + 'info-i_maps.png'
                }
              };
      
              var features = [
                {
                  position: new google.maps.LatLng(-33.91721, 151.22630),
                  type: 'info'
                }, {
                  position: new google.maps.LatLng(-33.91539, 151.22820),
                  type: 'info'
                }, {
                  position: new google.maps.LatLng(-33.91747, 151.22912),
                  type: 'info'
                }, {
                  position: new google.maps.LatLng(-33.91910, 151.22907),
                  type: 'info'
                }, {
                  position: new google.maps.LatLng(-33.91725, 151.23011),
                  type: 'info'
                }, {
                  position: new google.maps.LatLng(-33.91872, 151.23089),
                  type: 'info'
                }, {
                  position: new google.maps.LatLng(-33.91784, 151.23094),
                  type: 'info'
                }, {
                  position: new google.maps.LatLng(-33.91682, 151.23149),
                  type: 'info'
                }, {
                  position: new google.maps.LatLng(-33.91790, 151.23463),
                  type: 'info'
                }, {
                  position: new google.maps.LatLng(-33.91666, 151.23468),
                  type: 'info'
                }, {
                  position: new google.maps.LatLng(-33.916988, 151.233640),
                  type: 'info'
                }, {
                  position: new google.maps.LatLng(-33.91662347903106, 151.22879464019775),
                  type: 'parking'
                }, {
                  position: new google.maps.LatLng(-33.916365282092855, 151.22937399734496),
                  type: 'parking'
                }, {
                  position: new google.maps.LatLng(-33.91665018901448, 151.2282474695587),
                  type: 'parking'
                }, {
                  position: new google.maps.LatLng(-33.919543720969806, 151.23112279762267),
                  type: 'parking'
                }, {
                  position: new google.maps.LatLng(-33.91608037421864, 151.23288232673644),
                  type: 'parking'
                }, {
                  position: new google.maps.LatLng(-33.91851096391805, 151.2344058214569),
                  type: 'parking'
                }, {
                  position: new google.maps.LatLng(-33.91818154739766, 151.2346203981781),
                  type: 'parking'
                }, {
                  position: new google.maps.LatLng(-33.91727341958453, 151.23348314155578),
                  type: 'library'
                }
              ];
      
              // Create markers.
              features.forEach(function(feature) {
                var marker = new google.maps.Marker({
                  position: feature.position,
                  icon: icons[feature.type].icon,
                  map: map
                });
              });
      
              var legend = document.getElementById('legend');
              for (var key in icons) {
                var type = icons[key];
                var name = type.name;
                var icon = type.icon;
                var div = document.createElement('div');
                div.innerHTML = '<img src="' + icon + '"> ' + name;
                legend.appendChild(div);
              }
      
              map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
            }
          </script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPm9lmxUnWAfR0hGgKpqxPA9l9DiPGXbo&callback=initMap">
          </script>

    </div>

    <!-- End Search Result Section -->

    {% include 'pages/footer.html' %}

    {% endblock content %}