{% extends '_base-accounts-users.html' %}

{% load static %}

{% block content %}

<div class="caption">
   <div class="container text-center">
      <h3 class"heading">Imprint</h1>
      <br>
      <hr>

      <p>Information in accordance with section 5 of the Telemedia Act (TMG, Germany):</p>
      <p>Bert Gollnick</p>
      <p>Irma-Keilhack-Ring 29</p>
      <p>22145 Hamburg</p>
      <br>
      <hr>


      <p>Contact:</p>
      <br>
      <p>Telefon: +49 40 21 08 53 72</p>
      <p>E-Mail: bert.gollnick@posteo.net</p>
      <p>Represented by:</p>
      <p>CEO: Bert Gollnick</p>
   </div>
</div>

{% endblock content %}
