{% load static %}

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>

<div id="mapid" class="mx-auto mt-4"></div>

<script>
// Marker with numbers
(function (){
  "use strict";
  L.AwesomeNumberMarkers = L.Icon.extend({
    options: {
      iconSize: [35, 45],
      iconAnchor:   [17, 42],
      popupAnchor: [1, -32],
      className: 'awesome-number-marker',
      icon: 'home',
      markerColor: 'blue',
      numberColor: 'white',
      number: ''
    },
    
    createIcon: function () {
      
      var div = document.createElement('div'),
          options = this.options;

      div.innerHTML = this._createInner();
      this._setIconStyles(div, 'icon-' + options.markerColor);

      return div;
    },

    _createInner: function() {
        var iconColorStyle = "", options = this.options;
            
        if(options.numberColor) {
            iconColorStyle = "style='color: " + options.numberColor + "' ";          
        }

      return "<i " + iconColorStyle + "><b>" + options.number + "</b></i>";
    },

    _setIconStyles: function (img, name) {
        var options = this.options,
            size = L.point(options['iconSize']),
            anchor = L.point(options.iconAnchor);
        
        img.className = 'awesome-number-marker-' + name + ' ' + options.className;
        
        if (anchor) {
          img.style.marginLeft = (-anchor.x) + 'px';
          img.style.marginTop  = (-anchor.y) + 'px';
        }

        if (size) {
          img.style.width  = size.x + 'px';
          img.style.height = size.y + 'px';
        }
    }
  });

}());

  // icons
   var greenIcon = L.icon({
    iconUrl: '/static/images/pin_green.svg',
    shadowUrl: '',
    iconSize: [38, 95], // size of the icon
    iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
  });

  var redIcon = L.icon({
    iconUrl: '/static/images/pin_red.svg',
    shadowUrl: '',
    iconSize: [38, 95], // size of the icon
    iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
  });

  var blueIcon = L.icon({
    iconUrl: '/static/images/pin_blue.svg',
    shadowUrl: '',
    iconSize: [38, 95], // size of the icon
    iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
  });


  var greenQuestion = L.icon({
    iconUrl: '/static/images/question_green.svg',
    shadowUrl: '',
    iconSize: [38, 95], // size of the icon
    iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
  });

  var redQuestion = L.icon({
    iconUrl: '/static/images/question_red.svg',
    shadowUrl: '',
    iconSize: [38, 95], // size of the icon
    iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
    });

  var blueQuestion = L.icon({
    iconUrl: '/static/images/question_red.svg',
    shadowUrl: '',
    iconSize: [38, 95], // size of the icon
    iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
  });

  var shopIcon = L.icon({
    iconUrl: '/static/images/lebensmittelgeschaeft.svg',
    shadowUrl: '',
    iconSize: [38, 95], // size of the icon
    //iconAnchor: [0, 0], // point of the icon which will correspond to marker's location
    //popupAnchor: [0, 0] // point from which the popup should open relative to the iconAnchor
  });

  // get locations and convert it to floats
  var center_lon = "{{ longitude }}"
  var center_lat = "{{ latitude }}"
  var username = "{{ username }}"
  
  username = username.replace('[', '').replace(';]', '').replace(/[&#39]/g, '').split(';, ')
  
  if (isNaN(parseFloat(center_lon))) {
    center_lon = 10
  } else {
    center_lon = parseFloat(center_lon)
  }

  if (isNaN(parseFloat(center_lat))) {
    center_lat = 52
  } else {
    center_lat = parseFloat(center_lat)
  }

  // prepare the map
  var mymap = L.map('mapid').setView([center_lat, center_lon], 10);

  L.tileLayer(
    'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoidGVocGhpbGIiLCJhIjoiY2s3emFtN2M4MDNwajNxb2ducGNuNWk4byJ9.MxBMpm6g_oaptJPqgqmG7g', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoidGVocGhpbGIiLCJhIjoiY2s3emFtN2M4MDNwajNxb2ducGNuNWk4byJ9.MxBMpm6g_oaptJPqgqmG7g'
    }).addTo(mymap);

  // get further information to plot
  var group_membership = '{{ group_membership }}'
  group_membership = group_membership.replace('[', '').replace(']', '').split(',')

  var slogan = '{{ slogan }}'
  
  slogan = slogan.replace('[', '').replace(']', '').replace(/[&#39]/g, '').split(', ')
  
  var description = '{{ description }}'
  description = description.replace('[', '').replace(']', '').replace(/[&#39]/g, '').split(', ')
  
  var ids = '{{ id }}'
  ids = ids.replace('[', '').replace(']', '').split(',')
  // Longitudes
  var longitudes = '{{ longitudes }}'
  longitudes = longitudes.replace('[', '').replace(']', '').replace(' ', '').split(',')
  var sum = 0;
  for(var i=0; i<longitudes.length;i++) {
    longitudes[i] = parseFloat(longitudes[i]);
    sum += longitudes[i]
  }
  var long_mean = sum / longitudes.length;
  
  
  // Latitudes
  var latitudes = '{{ latitudes }}'
  latitudes = latitudes.replace('[', '').replace(']', '').replace(' ', '').split(',')
  
  var sum = 0;
  for(var i=0; i<latitudes.length;i++) {
    latitudes[i] = parseFloat(latitudes[i]);
    sum += latitudes[i]
  }
  
  var lat_mean = sum / latitudes.length;
  var longitude_center = '{{ longitude }}'
  var latitude_center = '{{ latitude }}'
  
  longitude_center = parseFloat(longitude_center.replace(',', '.'))
  latitude_center = parseFloat(latitude_center.replace(',', '.'))
  
    var userImg_Url = '{{ user.userImg_Url }}'
    console.log(userImg_Url);
    var srcImgUrl = "src='/../images/images/" + userImg_Url +"'"
    console.log(srcImgUrl);
  var map_show_location = '{{ map_show_location }}'
  map_show_location = map_show_location.replace('[', '').replace(']', '').replace(/ /g, '').split(',')

  var shop_type = '{{ shop_type }}'
  console.log(shop_type)
  shop_type = shop_type.replace('[', '').replace(']', '').replace(/[&#39]/g, '').split(', ')
  console.log(shop_type)


  var is_authenticated = '{{ user.is_authenticated }}'
  var contact_link
  
  
  // iterate through all filtered results  
  var i;
  for (i = 0; i < longitudes.length; i++) {
    lon_i = longitudes[i]
    lat_i = latitudes[i]
    slogan_i = slogan[i].replace('x', '').replace(';', '')
    if (slogan_i == 'None' && group_membership[i]== 0) {
      slogan_i = 'I want to help.'
    } 
    if (slogan_i == 'None' && group_membership[i]== 1) {
      slogan_i = 'I need some help.'
    }
    //slogan_i = slogan_i.slice(1, -1);
    description_i = description[i].replace('x', '').replace(/;/g, "");
    
    shop_type_i = shop_type[i]
    shop_type_i = shop_type_i.replace(/;/g, "");

    id_i = ids[i].replace(/ /g, '')
    username_i = username[i].replace(';', '')
    
    // show contact link or not
    if (is_authenticated == 'True') {
      contact_link = "<br><a href='/compose/" + id_i + "'>Contact me</a>"
    }
    if (is_authenticated == 'False') {
      contact_link = "<br><b>Please register to contact the user.</b>"
    }

    // select the right icon

    // provide help & rough location --> green question mark
    if (group_membership[i] == 0 && map_show_location[i] == '0') {
      var icon = greenQuestion;
      var color = "green"
    }
    // provide help & exact location --> green marker
    if (group_membership[i] == 0 && map_show_location[i] == '1') {
      var icon = greenIcon;
      var color = "green"
    }
    // need help & rough location --> red question mark
    if (group_membership[i] == 1 && map_show_location[i] == '0') {
      var icon = redQuestion;
      var color = "red"
    }
    // need help & exact location --> red marker
    if (group_membership[i] == 1 && map_show_location[i] == '1') {
      var icon = redIcon;
      var color = "red"
    }
    // shop shopping basket for group membership "shop"
    if (group_membership[i] == 3) {
      var icon = shopIcon;
      
      var mymarker = L.marker([lat_i, lon_i], {
                    icon: shopIcon}).addTo(mymap).bindPopup("<font color='#45C1BE'><center>" + i + " </center></font><hr><b><font size='2'>" + "<span class='badge badge-secondary'>" + shop_type_i + "</span></font></b><hr><font size='2'>" + description_i + "</font><hr><center><font size='2'>" + contact_link + "</font></center>", {closeOnClick: false, autoClose: true,}).openPopup();
    
    // for all other types show marker
    } else {
      var mymarker = L.marker([lat_i, lon_i], {
                    icon: new L.AwesomeNumberMarkers({
                      number: i, 
                      markerColor: color
                  })}).addTo(mymap).bindPopup("<font color='#45C1BE'><center>" + i + " </center></font><hr><b><font size='2'>" + slogan_i + "</font></b><hr><font size='2'>" + description_i + "</font><hr><center><font size='2'>" + contact_link + "</font></center>", {closeOnClick: false, autoClose: true,}).openPopup();
// shop shopping basket for group membership "shop"
    if (group_membership[i] == 3) {
      var icon = shopIcon;
      
      var mymarker = L.marker([lat_i, lon_i], {
                    icon: shopIcon}).addTo(mymap).bindPopup("<font color='#45C1BE'><center>" + i + " </center></font><hr><b><font size='2'>" + "<span class='badge badge-secondary'>" + shop_type_i + "</span></font></b><hr><font size='2'>" + description_i + "</font><hr><center><font size='2'>" + contact_link + "</font></center>", {closeOnClick: false, autoClose: true,}).openPopup();
    
    // for all other types show marker
    } else {
      var mymarker = L.marker([lat_i, lon_i], {
                    icon: new L.AwesomeNumberMarkers({
                      number: i, 
                        markerColor: color
          })
      }).addTo(mymap).bindPopup("<center><img width='40' height='40' " + srcImgUrl +"></img></center><hr><font color='#45C1BE'><center>" + i + " </center></font><hr><b><font size='2'>" + slogan_i + "</font></b><hr><font size='2'>" + description_i + "</font><hr><center><font size='2'>" + contact_link + "</font></center>", {closeOnClick: false, autoClose: true,}).openPopup();
   
    }

  }
  // Create a center circle
  L.circle([latitude_center, longitude_center], {color: 'green', fillColor: 'green', fillOpacity: 0.1, radius: 20000, stroke: false, bubblingMouseEvents: false}).addTo(mymap);



  
  

function categorySelected(cb) {
  var s1 = document.getElementById('defaultChecked').checked;
  var s2 = document.getElementById('defaultChecked2').checked;
  var s3 = document.getElementById('defaultChecked3').checked;
  //console.log([s1, s2, s3])
// remove the complete map
  
} // end categorySelected

    
</script>
