<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top solid">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand">dogooddeed.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"> 
                            <a href="#search" class="nav-link"><i class="fas fa-search-location"></i> Map</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.email }}
                                </a>
                                <div class="dropdown-menu aria-labelledby="userMenu">
                                    <a class="dropdown-item" href="{% url 'update' id=user.id %}">Update Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>   
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">     
                            <a href="{% url 'account_login' %}" class="nav-link">Log in</a>
                        </li>
                        <li class="nav-item"> 
                            <a href="{% url 'account_signup' %}" class="nav-link">Sign up</a>
                        </li>  
                    {% endif %}
                </ul>
            </div>
        </div>
      </nav>
    
</body>
</html>