{% extends '_base-accounts-users.html' %}
{% load i18n %}

{% block content %}
<br><br><br>


<div class="container">
    <h2>{% trans "Messages" %}</h2>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'messages_inbox' %}">Inbox</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'messages_outbox' %} ">Outbox</a>
        </li>
        <li class=" nav-item">
            <a class="nav-link active" href="{% url 'messages_trash' %} ">Trash</a>
        </li>
    </ul>

    {% if message_list %}
    <table class="messages table">
        <thead>
            <tr>
                <th>{% trans "Sender" %}</th>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for message in message_list %}
            <tr>
                <td>{{ message.sender }}</td>
                <td>
                    {{ message.subject }}
                </td>
                <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
                <td><a href="{% url 'messages_undelete' message.id %}">{% trans "undelete" %}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>{% trans "No messages." %}</p>
    {% endif %}
    <br />
    <p>{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}
    </p>
</div>
{% include 'pages/footer.html' %}
{% endblock %}