{% extends '_base-accounts-users.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Update Your Profile {% endblock title %}
{% block content %}
<br><br><br>


<div class="container">
    <h2>Update your profile</h2>
    <div id="updateUser">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12 mb-0 mt-0">
                    {{ form.group_membership|as_crispy_field }}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0 mt-0">
                        <p>
                            How do you want to help?
                        </p>
                        
                        <select class="form-control" multiple id="help" size="7" onchange="getComboA(this)">
                            <option value="Deliver Food">Deliver Food</option>
                            <option value="Walk the dog" selected="selected">Walk the dog</option>
                            <option value="Child care">Child care</option>
                            <option value="Physical work">Physical work</option>
                            <option value="Online Teaching">Online Teaching</option>
                            <option value="Miscellanious">Miscellanious</option>
                        </select>
                        <br>
                        <small>
                            Press CTRL to select multiple
                        </small>
                    </div>
                </div>

            </div>
            <div class="form-group col-md-12 mb-0 mt-0">
                {{ form.help_type|as_crispy_field }}
                <small>
                    Add categories separated by commas
                </small>
            </div>
            <div class="form-group col-md-12 mb-0 mt-0">
                {{ form.street|as_crispy_field }}
            </div>

            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                    {{ form.zip_code|as_crispy_field }}
                </div>
                <div class="form-group col-md-9 mb-0">
                    {{ form.city_name|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 mb-0">
                    {{ form.slogan|as_crispy_field }}
                </div>
                <div class="form-group col-md-12 mb-0">
                    {{ form.description|as_crispy_field }}
                </div>
            </div>
            <button class="btn btn-success" type="submit">Update</button>
        </form>
    </div>
</div>
<script type="application/javascript">
    function getComboA(selectObject) {
        var value = $(selectObject).val(); //selectObject.value;  
        document.getElementById("id_help_type").value = value;
        console.log(value);
    }
</script>


{% endblock content %}